parameters:
    app_name:          google-drive-bundle

	queue:
        url:
        db_table: queues

    elasticsearch:
        hosts: [localhost:9200]

    job_manager:
        index_prefix: devel

	encryption_key:

    components:
        api-google:
            class: Keboola\Google\ClientBundle\Client
            bundle: Keboola\Google\ClientBundle\KeboolaGoogleClientBundle
        ex-google-drive:
            class: Keboola\Google\DriveBundle\GoogleDriveExtractor
            bundle: Keboola\Google\DriveBundle\KeboolaGoogleDriveBundle
